Overall result: {{ checkout_data.summary|yesno('PASSED,FAILED,SKIPPED') }}
         Merge: {{ checkout_data.checkout.valid|yesno('OK,FAILED,UNKNOWN') }}
{% if build_data.builds %}
       Compile: {{ build_data.unknown_issues_builds|yesno('FAILED,OK') }}
{% endif %}
{% if test_data.tests %}
          Test: {{ test_data.summary|yesno('OK,FAILED,SKIPPED') }}
{% endif %}
